<html>
<%- include('partial/head.ejs') %>

<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profilis</h1>
        <a href="/logout" class="btn btn-default btn-sm">Atsijungti</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Vietinis</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>el. paštas</strong>: <%= user.local.email %><br>
                        <strong>slaptažodis</strong>: <%= user.local.password %>
                    </p>

            </div>
            <div class="well">
                <h3><span class="fa fa-inbox"></span> Skelbimu įkelimas</h3>
                <p>
                    <strong><a href="/post">Spustelėkite čia</a><br>
                </p>
            </div>
        </div>

    </div>

</div>
</body>
</html>
